.navbar .navbar-brand {
  color: blue;
  font-size: 36px;
  font-weight: bold;
}

.carousel-item .pictures {
  height: 800px;
  width: 100%;
}

.card {
  text-align: center;
}

.container {
  padding-top: 3em;
  padding-left: 35%;
  padding-bottom: 3em;
  align-content: center;
}

.container .git {
  background-color: black;
}

.carousel-item h5 {
  font-size: 42px;
}

.mb-3 {
  padding-left: 2em;
}

.form-label1 {
  padding-top: 1em;
  font-size: 22px;
 
}

.form-label2 {
  padding-top: 1em;
  font-size: 22px;

}

.form-label3 {

  font-size: 22px;
}
#submit {
  font-size: 20px;
}
#submit:hover {
  background-color: blue;
  color: white;
}