.navbar .navbar-brand {
  color: blue;
  font-size: 36px;
  font-weight: bold;
}

/* index page (home page) */

.pictures {
  height: 600px;
  width: 80%;
  object-fit: cover;
}

.container {
  padding-top: 3em;
  /* padding-left: 30%; */
  padding-bottom: 3em;
  justify-content: center;
  display: grid;
}

.card {
  text-align: center;
  align-content: center;
}

.container .git {
  background-color: black;
}

.carousel-item h5 {
  font-size: 42px;
}

.btn:hover {
  background-color: white;
  color: blue;
}

@media screen and (min-width: 786px) {
  /* home page carousel */
  .pictures {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
  /* Portfolio Page */
  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 1em;
  }
  .card1 {
    grid-column-start: 1;
    margin-top: 30px;
    margin-left: 60px;
  
  }
  .card2 {
    grid-column-start: 2;
    margin-top: 30px;
    margin-left: 30px;
    
  }
  .card3 {
    grid-column-start: 3;
    margin-top: 30px;
    margin-left: 30px;
    
  }
  .card4 {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-top: 30px;
    margin-left: 60px;
   
  }
  .card5 {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 30px;
    margin-left: 30px;
   
  }
  .card6 {
    grid-column-start: 3;
    grid-row-start: 2;
    margin-top: 30px;
    margin-left: 30px;
    
  }
}

/* Contact Me page */

.mb-3 {
  margin-left: 2em;
  max-width: 400px;
  margin-right: 2em;
  
}

.mb-3 h1 {
  padding-top: .5em;
}

.form-label1 {
  padding-top: 1em;
  font-size: 22px;
}

.form-label2 {
  padding-top: 1em;
  font-size: 22px;
}

.form-label3 {
  font-size: 22px;
}
.btn-primary {
  margin-top: .3em;
}

/* footer */
.container3 {
  padding-left: 2em;
}